<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Carpeta de entrada (donde pondrás las imágenes .jpg) -->
		<add key="InputPath" value="input" />

		<!-- Carpeta de salida (donde se guardarán los .txt con el OCR extraído) -->
		<add key="OutputPath" value="output" />

		<!-- Carpeta con los archivos .traineddata de Tesseract -->
		<add key="TessDataPath" value="tessdata" />

		<!-- Idioma del OCR: usa "spa" para español, "eng" para inglés -->
		<add key="OCRLanguage" value="spa" />
	</appSettings>
</configuration>
